
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
    Caltrain Runner
    </div>
</div>

<div class="container-fluid">
    <h1>Caltrain Runner</h1>
    <div class="row-fluid">
        <div class="span8" style="background-color:red">
        </div>

        <div class="span4" style="background-color:blue">
            <a class="twitter-timeline"  href="https://twitter.com/caltrain" data-widget-id="522884723966636034">Tweets by @caltrain</a>
            <script>!function(d,s,id){var
            js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>

    </div>
</div>

