
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
    Caltrain Runner
    </div>
</div>

<div class="container-fluid">
    <h1>Caltrain Runn/h1>
    <p>Welcome to <%= title %></p>
    <div class="row-fluid">
        <div class="span8" style="background-color:red">
            BAKFLKFSFK
        </div>
        <div class="span4" style="background-color:blue">
            HELLO!!! HERE!!!
        </div>
    </div>
</div>

