<div class="container-fluid">
    <h1>Caltrain Runner</h1>
    <div class="row-fluid">
        <div class="span8">
            <div class="module">
                <div class="module-header">
                    <span>Departing Trains:</span>
                </div>
                <div id="train-data">HELLO WORLD</div>
                <div class="module-footer"> Hello
                </div>
            </div>
        </div>

        <div class="span4">
            <a class="twitter-timeline"  href="https://twitter.com/caltrain" data-widget-id="522884723966636034">Tweets by @caltrain</a>
            <script>!function(d,s,id){var
            js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>

    </div>
</div>

<script type="text/html" id="table-template">
    <table>
        <thead>
            <tr>
                <td>Service</td>
                <td>Direction</td>
                <td>Arrival Time</td>
                <td>Final Stop</td>
            </tr>
        </thead>
        <tbody>
            {{ #departing }}
            <tr>
                <td>{{ serviceType }}</td>
                <td>{{ direction }}</td>
                <td>{{ arrivalTime }}</td>
                <td>{{ tripHeadsign }}</td>
            </tr>
            {{ /departing }}
        </tbody>
    </table>
</script>

