<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/caltrainrunner.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.0.2/jquery.simpleWeather.min.js"></script>
    <script src='/javascripts/mustache.js'></script>
    <script src='/javascripts/twitter.js'></script>

  </head>
  <body>
    <%- body %>
    <script src='/javascripts/caltrain.js'></script>
    <script src='/javascripts/weather.js'></script>
  </body>
</html>
