body {
  background-color: #cccccc;
}
.module {
  background-color: #eaeae8;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.hide {
  display: None;
}
.head {
  float: left;
}
.span12 h1 {
  padding-top: 105px;
  padding-right: auto;
  text-align: center;
  font-size: 85px;
}
.module-header {
  background-color: #333333;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.module-footer {
  background-color: #333333;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  color: white;
  min-height: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
div .module {
  margin-top: 10px;
}
div .module:first-child {
  margin-top: 0px;
}
.module .table {
  margin-bottom: 0;
}
.module .table table {
  margin: 0 auto;
  width: 100%;
}
.module .table table thead {
  background-color: #5A5A5A;
  font-size: 14px;
  color: white;
  font-weight: bold;
  min-height: 100px;
}
.module .table table thead > tr th {
  border-color: -moz-use-text-color #ffffff -moz-use-text-color -moz-use-text-color;
  border-image: none;
  border-style: none solid none none;
  border-width: medium 1px medium medium;
}
.module .table table thead > tr th:last-child {
  border-color: none;
  border-image: none;
  border-style: none;
  border-width: none;
  -moz-border-radius: 5px 0px 0px 0px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
.weather {
  overflow: hidden;
  padding: 20px 0 0 20px;
  margin-bottom: 20px;
  background-color: #333333;
  color: #CFCFCF;
  max-width: 498px;
}
.weather .weather-visual {
  height: 100px;
  overflow: hidden;
}
.weather img {
  margin: -10px 0 -50px;
}
.weather li {
  list-style-type: none;
}
body {
  padding: 0;
}
